JWT_ISSUER=localhost
JWT_AUDIENCE=localhost
JWT_SECRET_KEY=averylongsecretkeythatisrequiredtobeused
JWT_ACCESS_EXPIRY_MINUTES=10
JWT_REFRESH_EXPIRY_MINUTES=20160
SALT=testsalt

DB_HOST=database
DB_PORT=5432
DB_NAME=maindb
DB_USER=admin
DB_PASSWORD=testpassword

STORAGE_BUCKET_NAME=shootingacademy
STORAGE_URI=https://gateway.storjshare.io
STORAGE_ACCESS=key
STORAGE_SECRET=key2
STORAGE_PRESIGN_EXPIRY_MINUTES=30

ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=testpassword

BACKEND_API_URL=http://+:8080